In [ ]:
#dictionary-- oderred ,mutuable,dont allow duplicate
#key-value pair

In [ ]:
dt={
"name": "divya",
"age":25,
"coaching":"upflairs"



} 
print(dt)
print(type(dt))

{'name': 'divya', 'age': 25, 'coaching': 'upflairs'}
<class 'dict'>

In [4]:
#accessing by keys not by number
dt["coaching"]
dt["coaching"]="xyz"
dt

{'name': 'divya', 'age': 25, 'coaching': 'xyz'}

In [16]:
dt1={
"name": "divya",
"age":25,
"coaching":"upflairs",
"year":1998,
"year":2000            #duplicate key overrite the value and take last one




}
print(dt1)
print(type(dt1))

{'name': 'divya', 'age': 25, 'coaching': 'upflairs', 'year': 2000}
<class 'dict'>

In [ ]:
len(dt1)

4

In [ ]:
#methods
dt1.keys()
dt1.items()     #keys and value both
dt1.values()
dt1.get("name")

'divya'

In [ ]:
#dt1.pop("name")     #pop delete the value give key name
dt1.popitem()     #last key or value delete automatic

('year', 2000)

In [ ]:
dt1.update({"name":"jai"})       #update for change value
print(dt1)

{'name': 'jai', 'age': 25, 'coaching': 'upflairs', 'year': 2000}

In [ ]:
dt1.setdefault("city","jaipur")      #set by default whaterver the value give never change
print(dt1)
dt1.setdefault("city","bikaner")
print(dt1)
dt1.setdefault("age",30)
print(dt1)

{'name': 'jai', 'age': 25, 'coaching': 'upflairs', 'year': 2000, 'city': 'jaipur'}
{'name': 'jai', 'age': 25, 'coaching': 'upflairs', 'year': 2000, 'city': 'jaipur'}
{'name': 'jai', 'age': 25, 'coaching': 'upflairs', 'year': 2000, 'city': 'jaipur'}

In [ ]:
x=("key1","key2","key3")
# y=0
y= ("a","b","c")
dt3=dict.fromkeys(x,y)       #multiple value 
print(dt3)

{'key1': ('a', 'b', 'c'), 'key2': ('a', 'b', 'c'), 'key3': ('a', 'b', 'c')}

In [ ]:
dt={
"name": ["divya","jai","pyq"],    #multipkle values give use list ,tuple,set,dict
"age":25,
"coaching":"upflairs"



} 
print(dt)
print(type(dt))

{'name': ['divya', 'jai', 'pyq'], 'age': 25, 'coaching': 'upflairs'}
<class 'dict'>