In [ ]:
##loop-- for and while loop
#for loop-- used for iterating over a sequence(list,tuple,dict, set,string)

In [18]:
#for i in range(10):     #i;: temp variable        #range(start,stop,step/skip)
#for i in range(1,10):
for i in range(1,10,3):
    print(i)

1
4
7

In [19]:
string="python"
for i in string:
    print(i)

p
y
t
h
o
n

In [20]:
lst=[1,2,3,4]
for i in lst:
    print(i)

1
2
3
4

In [21]:
tpl=("hello")
for i in tpl:
    print(i)

h
e
l
l
o

In [ ]:
dt={"a":1,"b":3,"c":4}
for i in dt:     # only keys print
    print(i)
#for i,j in dt.items():    #keys and items both ......item() use for both print keys and item
    #print(i,j)

a
b
c

In [23]:
#break-- used to exit the loop
#continue-- used to skip the current iteration

In [24]:
#break
for i in range (1,11):
    if i==5:
        break
    print(i)

1
2
3
4

In [25]:
for i in range (1,11):
    if i==5:
        continue
    print(i)

1
2
3
4
6
7
8
9
10

In [26]:
for i in range(1,11):
    pass

In [ ]:
#nested loop
for i in range(1,11):
    for j in range(1,11):
        print(i*j)
    print("\n")

1
2
3
4
5
6
7
8
9
10


2
4
6
8
10
12
14
16
18
20


3
6
9
12
15
18
21
24
27
30


4
8
12
16
20
24
28
32
36
40


5
10
15
20
25
30
35
40
45
50


6
12
18
24
30
36
42
48
54
60


7
14
21
28
35
42
49
56
63
70


8
16
24
32
40
48
56
64
72
80


9
18
27
36
45
54
63
72
81
90


10
20
30
40
50
60
70
80
90
100

In [28]:
lst1=[1,2,3]
lst2=["red","yellow","green"]
for i in lst1:
    for j in lst2:
        print(i,j)
    print("\n")

1 red
1 yellow
1 green


2 red
2 yellow
2 green


3 red
3 yellow
3 green

In [29]:
for i in range(1,20):
    if i %2==0:
        print(i)

2
4
6
8
10
12
14
16
18

In [30]:
#sum function 
total =0

for i in range(1,101):
    total +=i
print(total)

5050

In [31]:
total=0
for i in range(1,780):
    total +=i
print(total)

303810

In [32]:
for i in range(1,100):
    for j in range(2,i):
        if i%j==0:
            break
    else:
        print(i)

1
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [3]:
#check prime number by taking user input
n=int(input())
for i in range(2,n):
    if n%i==0:
        print("not prime")
        break
    else:
        print("prime")

prime
prime
prime
not prime

In [ ]:
#while loop-- used for iterating over a condition

i=1      #starting point while m dena jruri hai
while i<=10:
    print(i)
    i+=1        #if not use this condition loop infinite conditon hojygi                     i+1=2

1
2
3
4
5
6
7
8
9
10

In [ ]:
i=1
while i<=6:
    if i==5:
        break
    print(i)
    i+=1

1
2
3
4

In [5]:
i=1
while i<=10:
    if i==5:
        i+=1
        continue
    print(i)
    i+=1

1
2
3
4
6
7
8
9
10

In [ ]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [ ]:
total=0
i=1
while i<=100:
    total += i 
    i+= 1
    
print(total)

5050

In [ ]:
n=int(input())
count=0
while n!=0:
    n //= 10
    count +=1
print(count)

KeyboardInterrupt:

In [ ]:
#factorial
factorial= 1
for i in range(1,6):
    factorial *=i
print(factorial)

120

In [34]:
#while in reverse order normally
i=20
while i>=1:
    print(i)
    i-=1

20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [7]:
s="jai"
index = len(s) -1
index

2

In [37]:
s="jai"
h=""
index=len(s)-1
while index>=0:
    h += s[index]
    index -=1
print(h)

iaj

In [4]:
n=int(input())
for i in range(1,11):
    #print(n,"*",i,"=",n*i)
    print(n*i)

5
10
15
20
25
30
35
40
45
50

In [2]:
adj=["red","blue","green"]
fruits=["banana","apple","cherry"]

for x in adj:
    for y in fruits:
        print(x,y)

red banana
red apple
red cherry
blue banana
blue apple
blue cherry
green banana
green apple
green cherry